.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  padding: 50px;
  background-color: orange;
  font-size: 32px;
  font-weight: bold;
  border-style: none;
  outline: none;
}
